@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


body {
	font-family: 'Mukta', sans-serif;
	color: #314349;
	margin: 0px;
}

h1 {
	font-weight: 800;
  	font-size: 3.5em;

  	line-height: 1.5em;

  	margin-bottom: 1vh;
}

h2 {
	font-weight: 700;

	line-height: 1em;

	font-size: 2em;
}

p {
	font-size: 1.25em;
}

.center {
	position: absolute;

	left: 50%;
	transform: translate(-50%, 0);

	text-align: center;
}

#header {
	width: 80vw;

	margin-top: 3vh;
}

#main {
	top: 40%;
}

#footer {
	width: 20vw;
	min-width: 400px;

	bottom: 0;

	margin-bottom: 3vh;

	color: #B7C0C2;

}

#footer a {
	color: #B7C0C2;;
}

#footer p {
	font-size: 1em;
}

#popup {
	width: 30vw;
	min-width: 300px;


	border-radius: 1em;

	display: inline-block;

	color: white;

	background-color: #5A80AF;

	text-align: left;

	padding-left: 2em;
	padding-right: 2em;

	padding-top: 1em;
	padding-bottom: 1em;

}

#popup img {
	width: 5em;
	position: absolute;

	right: 0;
	top: 0;

	margin-right: 1.5em;
	margin-top: 1.5em;

	opacity: 50%;
}

#icon {
	position: absolute;
	margin-left: 2em;
	margin-top: 2em;
}

#icon img {
	width: 3em;
}